/* Common styles */ 
body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
/*Common nav styles */
.navigation-wrapper {
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

/*Left Column styles */
.navigation-wrapper > .left-column {
    display: flex;
    align-items: center;
    padding: 15px;
    width: 200px;
}

.navigation-wrapper > .left-column > .logo {
    display: flex;
    justify-content: center;
}

.navigation-wrapper > .left-column > .logo img {
    height: 100%;
    width: 200px;
    
}

/* center column styles */
.navigation-wrapper > .center-column {
   display: grid ;
   grid-template-columns: 1fr ;
   grid-gap: 24px;
   width: 670px;
}

h1 {
    display: flex;
    justify-content: right;
    align-items: center;
    color: #f4e187;
    font-size: 1.5em;
    font-weight: 0.7em;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

.links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.links-wrapper > .nav-link {
    width: 2px;
    text-align: center;
    padding-right: 5px;
}

.links-wrapper > .nav-link a {
    color: white;
    text-decoration: none;
    font-weight: 12em;
    font-size: 1.3em;
}

.links-wrapper > .nav-link > .spark .fas {
    font-size: 0.9em;
    padding: 10px;
    color: #7b7e8b;
}

.spark {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.nav-link >.spark > a {
    font-size: 1.2em;
    color:#7b7e8b;
    padding: 5px 20px;
}

/*right column styles */
.navigation-wrapper > .right-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-column {
    width: 670px;
    text-align: center
}

.right-column a {
    color: white;
    text-decoration: none;
}

.right-column > .green-chevron {
    background-color: #36383f;
    font-size: 1.5em;
    padding: 10px 25px;
    border: 1px solid #36383f;
    border-radius: 6px;
    outline: none;
}

.right-column > .green-chevron a .fas {
    color: #4bce79;
}

.right-column > .search-icon a i {
    color: #7b7e8b;
    font-size: 2em;
}

/*features-section styles*/
.features-section {
    display: flex;
    justify-content: center;
    height: 700px;
    background-color: #36383f;
    box-shadow:inset  -32px -26px 204px 111px rgba(0,0,0,0.99);
}

.features-section > .columns {
    width: 1005px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
}
/*column one styles*/
p1 {
    color: #d9d9d9;
    font-size: 3em;
    font-family: 'Source Sans Pro', sans-serif;
}

p2 {
    font-weight: bold;
    color: white;
}

p3 {
    color: #d9d9d9;
    font-size: 3em;
    font-family: 'Source Sans Pro', sans-serif;
}

.links {
    width: 700px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: right;
        
}
.Sign-Up a{
    background-color: #4bce79;
    color: black;
    font-size: 3em;
    padding: 10px 25px;
    border: 1px solid #4bce79;
    border-radius: 4px;
    outline: none;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}
.Learn-More a{
    background-color: black;
    color: white;
    font-size: 3em;
    padding: 10px 25px;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}
/*Column two styles*/
p4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: white;
}
    
p5 {
    color: #71cef5;
}
   
/*footer styles*/
.footer {
    display: grid ;
    grid-template-columns: 1fr ;
    width: 2018px;
}
  
.footer > .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.footer-content > .BOX {
    background-color: #36383f;
    color: white;
    font-size: 1.25em;
    padding: 10px 119px;
    border: 1px solid white;
    border-radius: 1px;
    outline: none;
}
 
.footer-content > .BOX h2 {
    color: white;
    text-decoration: none;
    font-weight: 12em;
    font-size: 1.3em;
}
 
/*black space*/
.Black-space {
    display: flex;
    height: 100px;
    background-color: black;
}




